.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.todoList {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}

.tasks {
  list-style-type: none;
  padding: 0;
}

.counter {
    font-weight: bold;
}

.noTasks {
    font-size: larger;
    font-style: italic;
    color: #888;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.simpleButton {
    padding: 8px 12px;
    width: 180px;
    background-color: rgb(88, 100, 112);
    color: rgb(218, 216, 216);
    border-radius: 24px;
    border: none;
    box-shadow: 0 4px 6px rgba(48, 39, 39, 0.3);
}

.simpleButton:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}